@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

$primary-color: #e85941;
$black: #1d1c1b;
$grey: #eaeae9;
$white: #f4f6f7;
$green: #62b555;
$red: #c23636;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 20px;
  border: 3px solid transparent;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

.loading-error-message {
  width: 100%;
  height: 100%;
  background-color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  color: $black;
}

@import "./header/header";
@import "./header/headerInformations";
@import "./sections/mosaicAndComments/mosaic";
@import "./sections/youtubeSection/youtubeSection";
@import "./sections/mosaicAndComments/mosaicInformations";
@import "./sections/architectsMessage";
@import "./sections/contactCall";
@import "./architect-page/architectPage";
@import "./projects-page/projectsPage";
@import "./budget-page/budgetPage";
@import "./admin-page/admin";
@import "./loadingEffect";
@import "./sections/footer";
